{% extends 'layout.html' %}

{% block body %}

	<div>
		<h1>About Us</h1>
		<p class="lead" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus id possimus, fugit ut itaque consequuntur nemo molestiae ipsam, rerum aspernatur, aperiam. Eaque, eos tempore. Voluptatem nam asperiores quis deserunt, quo pariatur voluptates ipsa qui, veritatis id officia voluptate sed, numquam quasi quos ab dolorem soluta esse perspiciatis repudiandae magnam reiciendis maxime? Sed reiciendis dolor quas, itaque soluta expedita nesciunt officia sunt placeat vero provident sapiente repellendus! Minus odit corporis porro sit ab placeat at culpa facilis, quaerat et fugit eaque nulla cum facere quo laboriosam reiciendis explicabo, itaque ad molestiae. Tempora a quae sed quisquam doloribus placeat qui sint et.</p>
	</div>

{% endblock %}